div.edit-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
}

div.edit-container img {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0.5;
    z-index: -1;
}

div.edit-container form {
    position: relative;
    width: 50%;
    height: auto;
    padding: 20px;
    border: 1px solid #606060;
    border-radius: 5px;
}

div.form-element {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
}

div.form-element label {
    padding-right: 15px;
    color: white
}

div.form-element input,
div.form-element textarea {
    position: relative;
    width: 80%;
    border-radius: 5px;
    color: white;
    background-color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.form-element textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 500px;
}

div.button-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 10px;
}

div.button-container button {
    margin-right: 10px;
}

div.error-list {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
