div.navbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr 1fr 1fr 1fr;
    background: #0F0F0F;
}

div.navbar-element,
div.navbar-component {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.navbar-element:hover {
    transition: .2s;
    color:lightgoldenrodyellow;
    background: #8F8F8F;
}

div.navbar-element p:hover {
    cursor: default
}
